<div>
<p>
<hr>
</p>
<p><a href="#">ℼ</a><br id="idxC" /></p>
<p>
<img src="{{ site.baseurl }}/assets/images/z4B14-01.jpg" style="float: left; margin: 3px 20px 3px 3px; width: 170px;">
Sebagian besar <b>Tafsir Al-Azhar</b> ini disusun pada tahun 1960-an ketika Buya HAMKA menjadi tahanan rezim Orde Lama.
Saat tersebut belum ada GOOGLE, chatGPT, dst. 
Mungkin karena ditulis menggunakan rujukan yang terbatas, 
dapat dimaklumi jika tafsir ini mengandung beberapa kekeliruan.
Kesan saya --- mungkin saja salah --- tafsir ini banyak merujuk ke Ibn Katsir.
Namun, sistematika tafsir ini lebih baik karena bukan merupakan terjemahan tafsir lain.
Salah satu kelemahan tafsir ini ialah tidak ada index sehingga sulit melakukan pencarian.
Untuk itu disusun laman index ini.
Selamat menikmati. |
</p>
<p style="text-align: right;">
--- Abdul Latip
</p>
<p>
<hr>
</p>
<b>Tafsir al-Azhar</b> adalah hasil karya terbesar dari ulama ternama yaitu Prof. Dr. HAMKA.
Dalam penyusunan <i>Tafsir al-Azhar</i>, Buya HAMKA menggunakan metoda tahlili (analitis),
tafsir Al-Qur'an dengan Al-Qur'an, tafsir Al-Qur'an dengan hadits, pendapat sahabat dan
tabi'in, tafsir dengan tafsir <i>muktabar</i>, penggunaan syair, menggunakan analisis <i>bil-ma'tsur</i>,
menganalisis dengan kemampuan analisis sendiri, dan disusun tanpa membawa pertikaian antar madzhab.
</p>
<p>
<i>Tafsir al-Azhar</i> menitik-beratkan penjelasan ayat-ayat Al-Qur'an dengan ungkapan yang teliti,
menjelaskan makna-makna yang dimaksud dalam Al-Qur'an dengan bahasa yang indah dan menarik,
dan menghubungkan ayat dengan realitas sosial dan sistem budaya yang ada.
</p>
<p>
Buya HAMKA membicarakan permasalahan sejarah, sosial, dan budaya di Indonesia.
Beliau juga mendemonstrasikan keluasan pengetahuan, menekankan pemahaman ayat secara menyeluruh
(mengutip ulama-ulama terdahulu), mendialogkan antara teks Al-Qur'an dengan kondisi umat Islam
saat <i>Tafsir al-Azhar</i> ditulis.
</p>
<p>
Buku ini merupakan sebuah referensi yang wajib Anda miliki.
</p>
<p style="text-align: right;">
--- Di kutip dari sinopsis buku Gema Insani
</p>
<p>
<hr>
</p>
<p>
<b>Prof. Dr. H. Abdul Malik Karim Amrullah</b> atau <b>HAMKA</b>, lahir di Nagari Sungai Batang,
Tanjung Raya, Kabupaten Agam, Sumatera Barat pada tanggap 17 Februari 1908.
Beliau adalah ulama dan sastrawan besar Indonesia. 
Beliau terjun dalam politik (Partai Masyumi), dan menjabat Ketua Pertama Majelis Ulama Indonesia (MUI). 
Beliau termasuk Pahlawan Nasional Indonesia.
Hamka menghasilkan karya fenomenal dalam sejarah sastra Indonesia, yaitu 
"Di Bawah Lindungan Ka'bah" dan "Tenggelamnya Kapal Van Der Wijck".
Beliau juga menghasilkan satu karya yang sangan berharga 
dan berkontribusi besar bagi pemahaman agama Islam masyarakat Indonesia yaitu Tafsir Al-Azhar. 
Beliau wafat di Jakarta pada 24 Juli 1981 pada usia 73 tahun.
</p>
<p style="text-align: right;">
--- Di kutip dari sinopsis buku Gema Insani
</p>
<p><a href="#XYZZY">ℼ</a><br id="idxXX1" /></p>
<h2>DISCLAIMER</h2>
<br><b>This is the WAY!</b> This page is mainly written for <b>OWN PURPOSES</b>.
Hopefully, it will be helpful in the future.
It is based on "<i>Google There, Google Here, Try That, Try This, Then Ask.</i>"
A.K.A. "<i>Google Sana / Google Sini</i>".
Whether this is <b>PLAGIARY</b> or <b>RESEARCH</b>, 
there has never been a claim that this is an original work, 
nor is it necessarily the best solution, and not for Scopus consumption :).
You might provide feedback on alternative ideas. 
<br><br>
<p><a href="#">ℼ</a><br id="idxXXX" /></p>
<br>
<hr>
<div>
&copy; {{ site.copyright }} --- {{ site.author }} --- 
{% for ii in site.navbarlinks %}    
  {% if ii.navbar == "About" %}
    <a href="{{ ii.link | relative_url }}">{{ ii.navbar }}</a> ---
  {% endif %}
{% endfor %}
Revision: {{ site.version }}.
</div>
</div>
